*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;

}
.header{
  background-color:orange ;
  height: 5rem;
}
h1{
  text-align: center;
  position: relative;
  top: 20px;
}
@media screen and (max-width:750px){
  .btn-1{
    font-size: 10px;
    position: relative;
    width: 9rem;
    left: 2px;
  }

}
button {
    margin-top: 2rem;
  color: #000;
  width: 13%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  position: relative;
  left: 30rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #1c8abd;
}
.btn-2{
  color: #000;
  width: 13%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin-left: 6rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #57bd1c;
}
@media screen and (max-width:750px){
  .btn-2{
   
    font-size: 10px;
    position: relative;
    left: 80px;
    top: -4rem;
    width: 9rem;
  }

}


nav {
  background: maroon;
  height: 6rem;
  width: 100%;

}


nav ul {
  text-align: center;
  

}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 05px;

}
nav ul li a{
  color: #fff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
 
   

}


nav ul li a:hover {
  color: rgb(0, 217, 255);
  transition: .2s;
}

@media (max-width: 952px) {
  
  nav ul li a{
      font-size: 16px;

  }
}
@media (max-width: 850px){
  .checkbtn {
      display: block;
  }
  ul{
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 76vh;
      background:#2c3e50;
      top:90px;
      left: -100%;
      text-align: center;
      transition: all .3s;
  }
  nav ul li {
      display: block;
      margin: 10px 0;
  }
  nav ul li a{
      font-size: 20px;

  }
  ul li a:hover{
      background: none;
      color:#0082e6;
  }
  #check:checked ~ ul{
      left: 0;
  }
}

