<link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
<div class="header">

  <h1>Welcome to my {{title | uppercase}} </h1>
</div>

<nav>
 


  <ul>
      <li><a href="#">Home</a></li>
      <li><a routerLink='./department'>Department details</a></li>
      <li><a routerLink='./employees'>Employee details</a></li>
      <li><a href="./contact">contact us</a></li> 
  </ul>
</nav>

<h2  [ngStyle]="ChangeStyle">Routing links to get a fake API's</h2>

<h3  [ngStyle]="ChangeHeader">click below buttons to get a data from dummy json</h3>

<button routerLink = './employees' class="btn-1">Employee details</button>
<button routerLink = './department' class="btn-2">Department details</button>

<router-outlet></router-outlet>